[Unit]
Description=un-Orchestrator
Requires=openvswitch-nonetwork.service
After=openvswitch-nonetwork.service

[Service]
EnvironmentFile=/etc/uno/env
ExecStartPre=/bin/sleep 20
ExecStartPre=/etc/uno/prestart.sh
ExecStart=/usr/bin/node-orchestrator --d $CONFIG
ExecStartPost=/bin/sleep 15
Restart=on-failure
WorkingDirectory=/etc/uno

[Install]
WantedBy=network.target
