[Unit]
Description=un-orchestrator-virtualizer
Requires=uno.service unify-name-resolver.service
After=uno.service unify-name-resolver.service

[Service]
PIDFile=/run/unify-virtualizer/pid
WorkingDirectory=/opt/virtualizer
ExecStart=gunicorn --pid /run/gunicorn/pid -b 0.0.0.0:8001 virtualizer:api
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
