[Unit]
Description=Open OVSDB ports for the un-Orchestrator
After=openvswitch-nonetwork.service

[Service]
EnvironmentFile=/etc/uno/preconf
ExecStart=/usr/bin/ovs-appctl -t ovsdb-server ovsdb-server/add-remote ptcp:$PORT
Restart=on-failure

[Install]
WantedBy=uno.service
